APP_ENV=development
APP_NAME=Andela MCP Assessment API
LOG_LEVEL=debug

BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]

OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=gpt-5-nano

MCP_SERVER_URL=https://order-mcp-74afyau24q-uc.a.run.app/mcp
